* {
    box-sizing: border-box;
}

.checker-field {
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    width: 600px;
    aspect-ratio: 1/1;
}

@media (max-width: 600px) {
    .checker-field {
        width: 100vw;
        height: 45vh;
        max-height: 350px;
    }
}

.field-wrapper {
    position: relative;
    box-shadow: 0px 3px 50px rgba(0,0,0,0.1);
}

.checkers-row {
    display: flex;
    flex-direction: row;
    width: min-content;
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.checker-cell {
    width: auto;
    height: auto;
    flex-grow: 1;
}

.black-cell {
    background-color: rgb(83, 183, 113);
}

.white-cell {
    background-color: rgb(255, 246, 243);
}  
